* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
    background: #fff;
    font-family: rubik, sans-serif;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 18px;
	padding-bottom: 32px;
	background-color: #000;
}

@media only screen and (max-width: 800px) {
	.header__logo {
		margin-left: 2%;
		margin-right: 2%;
		display: block;
	    height: 86px;
	    background: url(artworldlogo.svg) no-repeat 50% 50%;
	    background-size: contain;
	    overflow: hidden;
	    white-space: nowrap;
	    text-indent: 150%;
	}
}

@media only screen and (min-width: 800px) {
.header__logo {
		margin-left: 150px;
	    display: block;
	    width: 259px;
	    height: 86px;
	    background: url(artworldlogo.svg) no-repeat 50% 50%;
	    background-size: contain;
	    overflow: hidden;
	    white-space: nowrap;
	    text-indent: 150%;
    }
}

@media only screen and (max-width: 800px) {
	.nav__container {
		display: inline-block;
		background-color: #000;
		padding-left: 30px;
	}
}

.nav__container {
	display: inline-block;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: #000;
}

@media only screen and (max-width: 800px) {
.nav__info {
	margin-right: 0px;
	}
}

@media only screen and (min-width: 800px) {
.nav__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-right: 150px;
	padding-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
	.nav__info {
		display: block;
		font-size: 200%;
	}
}

.nav__item {
	padding: 6.5px;
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

@media only screen and (max-width: 800px) {
	.nav__item {
		display: inline-block;
	}
}

.nav__part {
	padding-top: 30px;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	font-size: 180%;
}

.nav__item--current a:hover,
.nav__item--current a:active {
	color: #00AA9E;
}

.nav__item--current a:link,
.nav__item--current a:visited {
	color: #00AA9E;
}

.news {
	display: block;
	margin-left: 10%;
}

@media only screen and (max-width: 800px) {
	.latestnews {
		display: inline-block;
		font-size: 500%;
		padding: 0px;
		margin-left: 0.30%;
	}
}

@media only screen and (min-width: 800px) {
.latestnews {
	display: inline-block;
	font-size: 500%;
	padding: 50px 0px 50px 0px;
	margin-left: 0.30%;
	}
}

.latestnews p {
	color: #00AA9E;
}

.latestnews span {
	color: #4B85C8;
}

@media only screen and (max-width: 1430px) {
	.newart {
		display: none;
	}
}

@media only screen and (min-width: 1430px) {
.newart {
		display: inline-block;
		font-size: 500%;
		padding: 50px 0px 50px 0px;
		margin-left: 25.8%;
		}
}

.newart p {
	color: #00AA9E;
}

.newart span {
	color: #4B85C8;
}

@media only screen and (max-width: 710px) {
	.newart {
		display: none;
	}
}

.feature__container {
	display: flex;
	font-family: rubik, sans-serif;
    width: 100%;
}

@media only screen and (max-width: 800px) {
.news__container {
		display: block;
		margin-left: 2%;
		padding-top: 12.5px;
	}
}

@media only screen and (min-width: 800px) {
.news__container {
		display: block;
		margin-left: 10%;
		padding-top: 12.5px;
	}
}

@media only screen and (max-width: 1780px) {
.feature__container {
	margin: 0 auto;
	}
}

@media only screen and (max-width: 1430px) {
	.feature__container {
		display: block;
	}
}

@media only screen and (max-width: 710px) {
	.feature__container {
		margin: 5px;
	}
}

.hero__brushes {
	position: relative;
	padding: 10px;
}

@media only screen and (max-width: 800px) {
.hero__brushes img {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	}
}

.brushes__text span {
	font-family: rubik, sans-serif;
	font-size: 200%;
	color: #00AA9E;
}

.brushes__text p {
	font-family: rubik, sans-serif;
	font-size: 150%;
	color: #000;
}

@media only screen and (max-width: 800px) {
.news__computers img {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	}
}

.news__computers {
	position: relative;
	padding: 10px;
}

.computers__text span {
	font-family: rubik, sans-serif;
	font-size: 200%;
	color: #00AA9E;
}

.computers__text p {
	font-family: rubik, sans-serif;
	font-size: 150%;
	color: #000;
}

.read__more {
	font-family: rubik, sans-serif;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.button1 {
	display: inline-block;
	color: #00AA9E;
	background-color: #000;
	padding: 5px 15px 10px 10px;
	font-size: 200%;
}
.button1 a {
	list-style-type: none;
	text-decoration: none;
	color: #00AA9E;
}

.button2 a {
	list-style-type: none;
	text-decoration: none;
	color: #00AA9E;
}

.button2 {
	display: inline-block;
	color: #00AA9E;
	background-color: #000;
	padding: 5px 15px 10px 10px;
	font-size: 200%;
}

.button1:after {
	content: '>';
	padding-left: 10px;
	padding-right: 10px;
	color: #4B85C8;
}

.button2:after {
	content: '>';
	padding-left: 10px;
	padding-right: 10px;
	color: #4B85C8;
}


@media only screen and (min-width: 1430px) {
	.newart2 {
		display: none;
	}
}

@media only screen and (max-width: 1430px) {
.newart2 {
	display: inline-block;
	font-size: 500%;
	padding-top: 50px;
	margin-left: 10%;
	}
}

@media only screen and (max-width: 799px) {
.newart2 {
	margin-left: 2%;
	}
}

.newart2 p {
	color: #00AA9E;
}

.newart2 span {
	color: #4B85C8;
}

.features {
	display: flex;
	flex-wrap: wrap;
	margin-left: 9%;
	margin-right: 10%;
}

@media only screen and (max-width: 799px) {
	.features {
		margin-left: 1%;
	}
}

.features img {
	width: 35%;
	height: 35%;
	border: 5px solid #000;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.footer {
	color: #000;
	background-color: #fff;
	padding: 100px 0px 0px 0px;
	width: 100%; 
	margin-left: 10%;
	margin-right: 10%;
	max-width: 1775px;
}

.contents {
	border-top: 1px solid #000;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.footer__item1 {
	padding: 10px;
	font-size: 150%;
	margin-left: 20%
}

.footer__item2 {
	padding: 10px;
	color: #9B9B9B;
	font-size: 150%;
}

.footer__item3 {
	padding: 10px;
	font-size: 150%;
	font-weight: 300;
}
