* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
    background: #fff;
    font-family: rubik, sans-serif;
}

.header {
	padding-top: 18px;
	padding-bottom: 32px;
	background-color: #000;
}

.header__container {
	max-width: 1608px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__logo {
	margin-left: 210px;
    display: block;
    width: 259px;
    height: 86px;
    background: url(artworldlogo.svg) no-repeat 50% 50%;
    background-size: contain;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
}

@media only screen and (max-width: 1000px) {
	.header__logo {
		margin-left: 30px;
	}
}

.nav__container {
	display: inline-block;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: #000;
}

@media only screen and (max-width: 1190px) {
	.nav__info {
		margin-right: 0px;
	}
}

@media only screen and (min-width: 1275px) {
	.nav__info {
		margin-right: 240px;
	}
}

@media only screen and (max-width: 572px) {
	.nav__info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0px;
		padding-top: 30px;
	}
}

@media only screen and (min-width: 572px) {
.nav__info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-top: 30px;
	}
}

@media only screen and (max-width: 572px) {
	.nav__info {
		display: block;
		font-size: 150%;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 805px) {
	.nav__info strong {
		font-weight: normal;
	}
}

.nav__item {
	padding: 6.5px;
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

@media only screen and (max-width: 710px) {
	.nav__item {
		display: inline-block;
	}
}

.nav__part {
	padding-top: 30px;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	font-size: 180%;
}

.nav__item--current a:hover,
.nav__item--current a:active {
	color: #00AA9E;
}

.nav__item--current a:link,
.nav__item--current a:visited {
	color: #00AA9E;
}

@media only screen and (min-width: 600px) {
	.gallerytitle {
		display: block;
		font-weight: 700;
		margin-left: 10%;
		font-size: 150%;
	}
}

@media only screen and (max-width: 600px) {
.gallerytitle {
		display: block;
		font-weight: 700;
		padding-left: 2%;
		padding-right: 3%;
		font-size: 100%;
    }
}

.gallerytitle p {
	display: inline-block;
	font-size: 450%;
	color: #4B85C8;
}

.gallerytitle span {
	display: inline-block;
	font-size: 450%;
	color: #00AA9E;
}

@media only screen and (max-width: 1080px) {
	.features img {
		width: 50%;
	}
}

@media only screen and (max-width: 1080px) {
	.features {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
	}
}


@media only screen and (min-width: 1080px) {
.features {
	    padding-top: 30px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		padding-bottom: 200px;
		margin-left: 10%;
		margin-right: 10%;
	}
}

.burninglion img {
	border: 5px solid #000;
	width: 90%;
	height: auto;
}

.newface img {
	border: 5px solid #000;
	width: 90%;
	height: auto;
}

.newwow img {
	border: 5px solid #000;
	width: 90%;
	height: auto;
}

.newmoose img {
	border: 5px solid #000;
	width: 90%;
	height: auto;
}

@media only screen and (max-width: 1330px) {
	.features__box {
		width: 50%;
		padding: 5px;
	}

	.features__box img {
		width: 100%;
	}
}

@media only screen and (max-width: 395px) {
	.footer {
		color: #000;
		background-color: #fff;
		padding: 100px 0px 0px 0px;
		margin-left: 1%;
		margin-right: 1%;
    }
}

@media only screen and (min-width: 1330px) {
.footer {
		color: #000;
		background-color: #fff;
		max-width: 1775px;
		margin-left: 11%; 
		margin-right: 11%;
	}
}

@media only screen and (max-width: 1330px) {
	.footer {
		margin-left: 1%;
		margin-right: 1%;
	}
}

.contents {
	border-top: 1px solid #000;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

@media only screen and (max-width: 800px) {
	.contents {
		padding: 20px 0px 20px 0px;
	}
}

@media only screen and (max-width: 395px) {
	.footer__item1 {
		padding: 10px;
		font-size: 150%;
		margin-left: 0%;
	}
}

@media only screen and (min-width: 395px) { 
.footer__item1 {
		padding: 10px;
		font-size: 150%;
	}
}

.footer__item2 {
	padding: 10px;
	color: #9B9B9B;
	font-size: 150%;
}

.footer__item3 {
	padding: 10px;
	font-size: 150%;
	font-weight: 300;
}
