* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
    background: #fff;
    font-family: rubik, sans-serif;
}

.header {
	padding-top: 18px;
	padding-bottom: 32px;
	background-color: #000;
}


.header__container {
	max-width: 1608px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.header__logo {
	margin-left: 210px;
    display: block;
    width: 259px;
    height: 86px;
    background: url(artworldlogo.svg) no-repeat 50% 50%;
    background-size: contain;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
}

@media only screen and (max-width: 1000px) {
	.header__logo {
		margin-left: 30px;
	}
}

.nav__container {
	display: inline-block;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: #000;
}

@media only screen and (max-width: 1190px) {
	.nav__info {
		margin-right: 0px;
	}
}

@media only screen and (min-width: 1275px) {
	.nav__info {
		margin-right: 240px;
	}
}

@media only screen and (max-width: 572px) {
	.nav__info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0px;
		padding-top: 30px;
	}
}

@media only screen and (min-width: 572px) {
.nav__info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-top: 30px;
	}
}

@media only screen and (max-width: 572px) {
	.nav__info {
		display: block;
		font-size: 150%;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 805px) {
	.nav__info strong {
		font-weight: normal;
	}
}

.nav__item {
	padding: 6.5px;
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

@media only screen and (max-width: 710px) {
	.nav__item {
		display: inline-block;
	}
}

.nav__part {
	padding-top: 30px;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	font-size: 180%;
}

.nav__item--current a:hover,
.nav__item--current a:active {
	color: #00AA9E;
}

.nav__item--current a:link,
.nav__item--current a:visited {
	color: #00AA9E;
}


@media only screen and (min-width: 462px) {
	.gallerytitle {
		display: block;
		font-weight: 700;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 462px) {
.gallerytitle {
		display: block;
		font-weight: 700;
		padding-left: 3%;
		padding-right: 3%;
		font-size: 70%;
    }
}

.gallerytitle p {
	display: inline-block;
	font-size: 550%;
	color: #4B85C8;
}

.gallerytitle span {
	display: inline-block;
	font-size: 550%;
	color: #00AA9E;
}


.page__container {
	display: block;
}

.container {
	display: inline-block;
}

@media only screen and (max-width: 667px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media only screen and (min-width: 667px) {
.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: 5%;
		padding-bottom: 200px;
    }
}

@media only screen and (min-width: 1080px) {
	.container {
		flex-wrap: nowrap;
	}
}

@media only screen and (max-width: 667px) {
	.newwow img {
		display: block;
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 667px) {
.newwow {
	padding-right: 50px;
	}
}

.wow {
	color: #00AA9E;
	font-size: 300%;
	font-weight: 500;
}

@media only screen and (max-width: 1080px) {
	.text__container {
		padding-top: 20px;
	}
}

.text__container {
	display: inline-block;
}

.text__container p {
	color: #000;
	font-weight: 300;
	font-size: 200%;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 6px;
	padding-bottom: 6px;
}

.artist {
	display: block;
	padding-right: 5px;
}

.artist {
	display: inline-block;
}

.filler {
	padding-top: 6px;
	display: block;
	font-size: 130%;
	max-width: 1128px;
}

.border {
	border: 1px solid #000;
}

.back {
	padding-top: 40px;
	font-weight: 300;
	font-size: 200%;
}

.abode {
	display: inline-block;
	color: #4B85C8;
	font-size: 300%;
	font-weight: 300;
}

.footer {
	color: #000;
	background-color: #fff;
	padding-top: 50px;
	margin-left: 5%;
	margin-right: 12%;
}

@media only screen and (max-width: 800px) {
	.footer {
        margin-right: 4%;
        margin-left: 3%;
	}
}

.contents {
	border-top: 1px solid #000;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.footer__item1 {
	padding: 10px;
	font-size: 150%;
	padding-left: 20%;
}

.footer__item2 {
	padding: 10px;
	color: #9B9B9B;
	font-size: 150%;
}

.footer__item3 {
	padding: 10px;
	font-size: 150%;
	font-weight: 300;
}

